{% extends "layouts/_base.html" %}

{% set title = "Proof of Review / Home" %}
{% set currentPath = '/' %}

{% block content %}
  {# Cover #}
  <section class="container-fluid cover">
    <div class="cover__bg"></div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 col-lg-6">
          <h1 class="text-uppercase mt-lg-5">
            WELCOME TO PROOF OF REVIEW
            BECOME INFORMED, DEVELOP AN EDGE
          </h1>

          <p>
            We aim to increase transparency amongst projects and investors by improving the quality of the information in the crypto ecosystem.
          </p>

          <p>
            We offer a range of services and insights to promote your brand awareness 
            in this emerging industry and asset class.
          </p>

          <a href="/reviews" class="cover__btn btn btn-outline-light text-uppercase">Read Reviews</a>
        </div>

        <div class="d-none d-md-block col-7 col-lg-6">
          <div class="cover__image-wrap">
            {{ picture('Proof of Review', 'cover__image', '/img/home/cover', 'jpg') }}
          </div>
        </div>
      </div>
    </div>
  </section>

  {# The Problem #}
  <section class="container section">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2 text-left text-md-center">
        <div class="row justify-content-center">
          <h2 class="col-12 text-uppercase">The Problem</h2>

          <p class="col-12 col-lg-10">Our team consists of members who have been around the cryptocurrency sector since 2013 and seen the same cycles for many projects.</p>
        </div>

        <div class="accordion card card-body text-left mt-4 mt-md-5">
          <a class="accordion__toggle" data-toggle="collapse" href="#problem" role="button" aria-expanded="false" aria-controls="problem">
            {{ icon('crosshairs', 'accordion__toggle-icon') }}

            <h4 class="text-uppercase mb-0">
              The Problem
            </h4>

            {{ icon('chevron-top', 'accordion__toggle-arrow') }}
          </a>
          <div class="collapse accordion__content" id="problem">
            <p class="mt-4">
              We have seen several cycles of growth in this emerging industry, but there is an underlying issue remains for investors into the space. How do they analyse projects from the thousands out there and how to identify projects with potential while avoiding so-called "scam" projects. 
            </p>
            <p>
              The metrics used in this sector can often be different from those used to analyse projects in other markets, and most market participants don't have to experience or knowledge to identify these. 
            </p>
            <p>
              As a result, the target market for projects is left uninformed, and this crowd of investors often relies on price moments to raise their awareness in a project, rather than the fundamentals of a project.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {# The Solution #}
  <section class="container section">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2 text-left text-md-center">
        <div class="row justify-content-center">
          <h2 class="col-12 text-uppercase">The Solution</h2>

          <p class="col-12 col-lg-10">At Proof of Review, we aim to solve these problems by providing institutional grade reviews on projects including POW coins, Tokens, Exchanges, Mining Pools, Security Token Offerings and Initial Exchange Offerings.</p>
        </div>

        <div class="accordion card card-body text-left mt-4 mt-md-5">
          <a class="accordion__toggle" data-toggle="collapse" href="#solution" role="button" aria-expanded="false" aria-controls="solution">
            {{ icon('lightbulb', 'accordion__toggle-icon') }}

            <h4 class="text-uppercase mb-0">
              The Solution
            </h4>

            {{ icon('chevron-top', 'accordion__toggle-arrow') }}
          </a>
          <div class="collapse accordion__content" id="solution">
            <p class="mt-4">
              We utilise our experience, knowledge and expertise to review these projects and share these reports to the public via our website and our social media following.
            </p>
            <p>
              The review aims to provide a detailed analysis for a project which is unbiased and covers all the necessary elements for an investor to be informed. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {# Research #}
  <section class="container-fluid section-fluid">
    <section class="bg bg-light"></section>

    <div class="container">
      <div class="row justify-content-center">
        <h2 class="col-12 text-uppercase">PROOF OF REVIEW RESEARCH</h2>

        <p class="col-12 col-lg-4">Become informed and gain an edge over your competition in the markets.</p>

        <div class="row col-12 mt-5">
          <div class="col-12 col-md-4">
            <div class="feature text-left">
              {{ icon('folder', 'feature__icon') }}

              <h4 class="feature__title">INSTITUTIONAL GRADE REVIEWS</h4>

              <p class="feature__desc">Our reviews are aimed to provide an 
                                        in-depth analysis of projects in
                                        the crypto ecosystem.</p>
            </div>
          </div>

          <div class="col-12 col-md-4 mt-5 mt-md-0">
            <div class="feature text-left">
              {{ icon('layers', 'feature__icon') }}

              <h4 class="feature__title">MARKET INSIGHTS</h4>

              <p class="feature__desc">Our team of analysts look at the current
                                        state of the markets.</p>
            </div>
          </div>

          <div class="col-12 col-md-4 mt-5 mt-md-0">
            <div class="feature text-left">
              {{ icon('flag', 'feature__icon') }}

              <h4 class="feature__title">PROJECT UPDATES</h4>

              <p class="feature__desc">Receive monthly updates on all previous
                                        Reports.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 col-lg-offset-3 mt-5">
          {% include "components/_subscription.html" %}
        </div>
      </div>
    </div>
  </section>

  {# Reports #}
  <section class="container section">
    <div class="row justify-content-center">
      <h2 class="col-12 text-uppercase">PROOF OF REVIEW RESEARCH REPORTS</h2>

      <p class="col-12">Our reports look at the following metrics within a project which include:</p>

      <div class="container">
        <div class="reports row col-12 text-left no-gutters">
          <div class="report col-md-6 col-lg-3">
            <h3>The Fundamentals</h3>

            <ul>
              <li>Project Adoption</li>
              <li>Competition</li>
            </ul>
          </div>

          <div class="report col-md-6 col-lg-3">
            <h3>Financials</h3>

            <ul>
              <li>Funding</li>
              <li>Governance</li>
            </ul>
          </div>

          <div class="report col-md-6 col-lg-3">
            <h3>Coin Metrics</h3>

            <ul>
              <li>Emissions</li>
              <li>Distribution</li>
            </ul>
          </div>

          <div class="report col-md-6 col-lg-3">
            <h3>The Team</h3>

            <ul>
              <li>Experience</li>
              <li>Partnerships</li>
            </ul>
          </div>

          <div class="report col-md-6 col-lg-3">
            <h3>Code Review</h3>

            <ul>
              <li>Development</li>
              <li>Features</li>
            </ul>
          </div>

          <div class="report col-md-6 col-lg-3">
            <h3>Community</h3>

            <ul>
              <li>Engagement</li>
              <li>Promotion</li>
            </ul>
          </div>

          <div class="report col-md-6 col-lg-3">
            <h3>Taxonomy</h3>

            <ul>
              <li>Unique analysis model</li>
              <li>Rating</li>
            </ul>
          </div>

          <div class="report col-md-6 col-lg-3">
            <h3>Developer Pitch</h3>

            <ul>
              <li>Communication</li>
              <li>Engagement</li>
            </ul>
          </div>
        </div>
      </div>

      <p class="col-12 col-lg-10">During the review process we engage with projects to obtain more information and this also gives us a chance to give them feedback on their project.</p>
    </div>
  </section>

  {# Services #}
  <section class="container section">
    <div class="row justify-content-center">
      <h2 class="col-12 text-uppercase">PROOF OF REVIEW SERVICES</h2>

      <div class="row col-12 text-center">
        <div class="service col-12 col-md-4">
          <div class="service__icon">
            {{ icon('clipboard-text') }}
          </div>

          <p class="h3 text-uppercase mt-4">PROJECT REVIEW</p>
        </div>

        <div class="service col-12 col-md-4">
          <div class="service__icon">
            {{ icon('code') }}
          </div>

          <p class="h3 text-uppercase mt-4">CODE REVIEW</p>
        </div>

        <div class="service col-12 col-md-4">
          <div class="service__icon">
            {{ icon('video') }}
          </div>

          <p class="h3 text-uppercase mt-4">VIDEO REVIEW</p>
        </div>

        <div class="service col-12 col-md-4">
          <div class="service__icon">
            {{ icon('pulse') }}
          </div>

          <p class="h3 text-uppercase mt-4">STRATEGY</p>
        </div>

        <div class="service col-12 col-md-4">
          <div class="service__icon">
            {{ icon('presentation') }}
          </div>

          <p class="h3 text-uppercase mt-4">MARKETING</p>
        </div>

        <div class="service col-12 col-md-4">
          <div class="service__icon">
            {{ icon('bar-chart') }}
          </div>

          <p class="h3 text-uppercase mt-4">CONSULTATION</p>
        </div>
      </div>
    </div>
  </section>

  {# Out Team #}
  <section class="container-fluid section">
    <div class="container">
      <div class="row justify-content-center">
        <h2 class="col-12 text-uppercase">OUR TEAM</h2>

        <p class="col-12 col-lg-6">Our team comes with significant experience in the blockchain sector covering trading, investing, mining, analysis and development and currently consists of the following 5 members:</p>
      </div>
    </div>

    <div id="team-slider" class="slider">
      <div class="member">
        <p class="h3 member__name text-center">Growdigi</p>
        <a href="#" class="btn btn-sm member__link">@growdigi</a>

        <p class="member__desc text-center">With over 6 years of experience in the cryptocurrency sector and an enthusiasm for mining, Growdigi is the founder of the project and aims to change the way information aboutprojects is provided to the public. He has a passion for blockchain, research and all things crypto related.</p>

        <a href="#" class="btn btn-sm member__btn">21k followers</a>
      </div>

      <div class="member">
        <p class="h3 member__name text-center">Growdigi</p>
        <a href="#" class="btn btn-sm member__link">@growdigi 1</a>

        <p class="member__desc text-center">With over 6 years of experience in the cryptocurrency sector and an enthusiasm for mining, Growdigi is the founder of the project and aims to change the way information aboutprojects is provided to the public. He has a passion for blockchain, research and all things crypto related.</p>

        <a href="#" class="btn btn-sm member__btn">21k followers</a>
      </div>

      <div class="member">
        <p class="h3 member__name text-center">Growdigi</p>
        <a href="#" class="btn btn-sm member__link">@growdigi 2</a>

        <p class="member__desc text-center">With over 6 years of experience in the cryptocurrency sector and an enthusiasm for mining, Growdigi is the founder of the project and aims to change the way information aboutprojects is provided to the public. He has a passion for blockchain, research and all things crypto related.</p>

        <a href="#" class="btn btn-sm member__btn">21k followers</a>
      </div>
    </div>
  </section>

  {# Out Partners #}
  <section class="container section section--last">
    <div class="row justify-content-center">
      <h2 class="col-12 text-uppercase">OUR PARTNERS</h2>

      <p class="col-12 col-lg-5">We work with a wide range of partners to deliver an excellent service to projects and to the public.</p>

      <div class="container">
        <div class="row mt-3 mt-md-5">

          <div class="col-12 col-md-6 mb-4 mb-md-5">
            <div class="partner-card">
              <div class="partner-card__pic">
                {{ picture('The Daily Chain', '', '/img/home/partners/daily-chain', 'png') }}
              </div>

              <h3 class="partner-card__title">The Daily Chain</h3>

              <p class="partner-card__desc">The Daily Chain is dedicated to providing unique and informative crypto content on a daily basis. Their goal is to educate the community and empower people to make the right choices.</p>
            </div>
          </div>
          
          <div class="col-12 col-md-6 mb-5 mb-md-5">
            <div class="partner-card">
              <div class="partner-card__pic">
                {{ picture('The Daily Chain', '', '/img/home/partners/elevate', 'png') }}
              </div>

              <h3 class="partner-card__title">ElevateUX</h3>

              <p class="partner-card__desc">ElevateUX aims to improve user experience in the cryptocurrency space. By providing a range of services, we aim to help teams by offering guidance to create user friendly products and services</p>
            </div>
          </div>
        </div>
      </div>

      <p class="col-9 col-md-12 text-uppercase text-center">If you wish to join as a partner please get in touch.</p>
      
      <a href="/contacts" class="btn btn-outline-primary btn-custom-primary text-uppercase mt-2">Contact us</a>
    </div>
  </section>
{% endblock %}