{% extends "layouts/_base.html" %}

{% set title = "Insure SME" %}
{% set currentPath = '/' %}

{% block content %}
  <div class="container-fluid cover">
    <div class="cover__bg"></div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 col-lg-6">
          <h1 class="text-uppercase mt-lg-5">
            WELCOME TO PROOF OF REVIEW
            BECOME INFORMED, DEVELOP AN EDGE
          </h1>

          <p>
            We aim to increase transparency amongst projects and investors by improving the quality of the information in the crypto ecosystem.
          </p>

          <p>
            We offer a range of services and insights to promote your brand awareness 
            in this emerging industry and asset class.
          </p>

          <a href="/reviews" class="cover__btn btn btn-outline-light text-uppercase">Read Reviews</a>
        </div>

        <div class="d-none d-md-block col-7 col-lg-6">
          <div class="cover__image-wrap">
            {{ picture('Proof of Review', 'cover__image', '/img/home/cover', 'jpg') }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="row">
      <div class="col-8 offset-2 text-left text-md-center">
        <h2 class="text-uppercase">The Problem</h2>

        <p>Our team consists of members who have been around the cryptocurrency sector since 2013 and seen the same cycles for many projects.</p>

        <div class="accordion card card-body text-left">
          <a class="accordion__toggle collapsed" data-toggle="collapse" href="#problem" role="button" aria-expanded="false" aria-controls="problem">
            <svg class="accordion__toggle-icon">
              <use xlink:href="img/icons.svg#crosshairs"></use>
            </svg>
            <h3 class="text-uppercase mb-0">
              The Problem
            </h3>
            <svg class="accordion__toggle-arrow">
              <use xlink:href="img/icons.svg#chevron-top"></use>
            </svg>
          </a>
          <div class="collapse accordion__content show" id="problem">
            <p class="mt-4">
              We have seen several cycles of growth in this emerging industry, but there is an underlying issue remains for investors into the space. How do they analyse projects from the thousands out there and how to identify projects with potential while avoiding so-called "scam" projects. 
            </p>
            <p>
              The metrics used in this sector can often be different from those used to analyse projects in other markets, and most market participants don't have to experience or knowledge to identify these. 
            </p>
            <p>
              As a result, the target market for projects is left uninformed, and this crowd of investors often relies on price moments to raise their awareness in a project, rather than the fundamentals of a project.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="row">
      <div class="col-8 offset-2 text-left text-md-center">
        <h2 class="text-uppercase">The Solution</h2>

        <p>At Proof of Review, we aim to solve these problems by providing institutional grade reviews on projects including POW coins, Tokens, Exchanges, Mining Pools, Security Token Offerings and Initial Exchange Offerings.</p>

        <div class="accordion card card-body text-left">
          <a class="accordion__toggle collapsed" data-toggle="collapse" href="#solution" role="button" aria-expanded="false" aria-controls="solution">
            <svg class="accordion__toggle-icon">
              <use xlink:href="img/icons.svg#lightbulb"></use>
            </svg>
            <h3 class="text-uppercase mb-0">
              The Solution
            </h3>
            <svg class="accordion__toggle-arrow">
              <use xlink:href="img/icons.svg#chevron-top"></use>
            </svg>
          </a>
          <div class="collapse accordion__content show" id="solution">
            <p class="mt-4">
              We utilise our experience, knowledge and expertise to review these projects and share these reports to the public via our website and our social media following.
            </p>
            <p>
              The review aims to provide a detailed analysis for a project which is unbiased and covers all the necessary elements for an investor to be informed. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}