html,
body {
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  color: #4B4F6A;
  display: flex;
  flex-direction: column;

  @include media("<=992px") {
    font-size: 0.875rem;
  }
}

input {
  border: none;
  background: none;
  box-shadow: none;
}

p:last-child {
  margin-bottom: 0;
}