

$color-primary: black;
$color-primary-2: black;
$color-primary-3: black;
$text-dark-2: black;
$text-dark: black;
$text-white: white;
$bg-white: white;
$text-gray: gray;
$text-gray-2: gray;
$bg-gray: gray;
$color-gray: gray;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
  font-family: inherit;
  outline: none;
}

body {
  min-height: 100vh;
  color: $black;
  display: flex;
  flex-direction: column;

  @include media("<=992px") {
    font-size: 0.875rem;
  }
}

input {
  border: none;
  background: none;
  box-shadow: none;
}

a {
  color: $color-primary-2;
  text-decoration: none;
}