$icons-map: email, lock, error, phone, up, flag, search, search-dark, refresh, right, right-dark, right-blue,
  check-circle, lifebelt, earth, home, chart, cyber, receipt, list, flag-blue, card, briefcase, bull-horn,
  rotate-axis, price-tag, user, eye, check-circle-blue, piggy-bank, note, envelope, dollar, info,
  success-white, success-green, download, laptop, money-bill, car, sort, caret-right, money-stack, users;

@mixin icons {
	@each $icon in $icons-map {
		.icon--#{$icon} {
			background-image: url("/img/icons/#{$icon}.svg");
    }
  }
}

.icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon--circle {
  width: 1.64em;
  height: 1.64em;
  padding: 0.32em;
  background-color: $bg-icon;
  background-size: 1em;
  border-radius: 50%;
  overflow: hidden;
}

.icon--bg-blue {
  background-color: transparent;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-image: linear-gradient(124.44deg, #3F46E3 23.45%, #69FFD2 138.71%);
  }
}

.icon--bg-green {
  background-color: #E5F5EF;
}

.icon--shadow {
  box-shadow: 0px 0.5em 1.25em rgba(40, 42, 86, 0.06);
}

@include icons