.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.section,
.section-fluid {
  margin-top: 5.6em;
  font-size: 1rem;
  text-align: center;



  &--filled:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F6F9FE;
    transform: skew(0, -5deg);
    z-index: -1;
  }

  @include media("<=992px") {
    margin-top: 3.75em;
  }

  @include media("<768px") {
    > h2,
    > h3,
    > p {
      text-align: left;
    }
  }
}

.container {
  @include media("<768px") {
    > h2,
    > h3,
    > p {
      text-align: left;
    }
  }
}

.section-fluid {
  padding: 100px 0;
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: skew(0, -5deg);
}