.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-lg {
  font-size: 1.5em;

  @include media("<768px") {
    font-size: 1em;
  }
}

.btn-custom-primary {
  color: $black;

  &:hover {
    color: #fff;
  }
}