.hidden {
  display: none;

  @include media(">=1024px") {
    &--desktop {
      display: none;
    }
  }

  @include media("<1024px") {
    &--mobile {
      display: none;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  color: inherit;
  border: 0;

  &:hover,
  &:focus {
    opacity: 0.75;
    border: 0;
  }
}

.btn-custom-primary {
  color: $black;

  &:hover {
    color: #fff;
  }
}