$text-dark: #1B1A3D;
$text-dark-2: transparentize($text-dark,  .282);
$text-gray: #76768B;
$text-gray-2: #89899F;
$text-white: #fff;

$color-primary: #131CE7;
$color-primary-2: #2B44DC;
$color-primary-3: #5669E3;
$color-gray: #A5A8B9;

$bg-white: #fff;
$bg-gray: #F0F1F4;
$bg-icon: #E9EAFD;
$bg-green:#27B67A;
$bg-footer: #1F293D;
