.benefits {
  display: flex;

  &__item {
    display: flex;
    position: relative;
    padding-top: 1.875em;
    flex: 1 1 auto;
    width: 0;

    &-wrap {
      width: 100%;
      border-radius: 1em;
      overflow: hidden;
      box-shadow: 0px 8px 20px rgba(40, 42, 86, 0.06);
    }

    &-icon {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 2.29em;
      border-radius: 50%;
      z-index: 1;
      box-shadow: 0px 8px 20px rgba(40, 42, 86, 0.06);
    }

    &-img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%,-50%);

      &-wrap {
        position: relative;
        padding-bottom: 46.5%;
        width: 100%;
        height: 0;
        overflow: hidden;
      }
    }

    &-content {
      padding: 1.5em;
    }

    &-title {
      margin: 0;
      font-size: 1.375em;
      line-height: 1.45;
      font-weight: 600;
    }

    &-desc {
      margin-top: 0.5em;
      margin-bottom: 0;
      font-size: 1.25em;
      line-height: 1.5;
      color: $text-dark-2;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @include media("<768px") {
    flex-wrap: wrap;
    justify-content: center;

    &__item {
      flex: 1 0 100%;
      max-width: 400px;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 40px;
      }
    }
  }
}