.service {
  margin-top: 60px;

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #D8E4FF;
    border-radius: 50%;

    svg {
      width: 42px;
      height: 42px;
      fill: $primary;
    }
  }
}