.is-style-service {
  .icon-block__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #D8E4FF;
    border-radius: 50%;

    svg {
      width: 42px;
      height: 42px;
      fill: $primary;
    }
  }

  .icon-block__title {
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
  }

  .icon-block__desc {
    text-align: center;
  }
}