.member {
  margin-bottom: 2em;
  max-width: 730px;
  padding: 2em 4em 1.5em;
  background: #F9F9F9;
  box-shadow: 0px 4px 12px rgba(4, 15, 41, 0.12);
  border-radius: 0.5em;
  outline: none;

  &.slick-current {
    background: #fff;
  }

  &__name {
    margin-bottom: 0;
  }

  &__link {
    color: $link-color;

    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }

  &__desc {
    margin-top: 1rem;
  }

  &__btn {
    color: $link-color;
    background-color: rgba($primary, .2);

    &:hover,
    &:focus {
      color: $link-hover-color;
      background-color: rgba($primary, .3);
    }
  }

  @include media("<=992px") {
    max-width: 600px;
  }

  @include media("<768px") {
    background: #fff;
  }
}