.accordion {
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 35px;

  &__toggle {
    position: relative;
    padding: 30px 35px 30px 90px;
    margin: 0 -35px;
    color: inherit;

    &-icon {
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translateY(-50%);
      fill: $primary;
      width: 2.875em;
      height: 2.875em;
    }

    &-arrow {
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%) rotate(180deg);
      fill: $primary;
      width: 2.25em;
      height: 2.25em;
      fill: #191D3A;
      opacity: .6;
    }

    &[aria-expanded="true"] #{&} {
      &-arrow {
      transform: translateY(-50%);
      }
    }

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  &__content {
    font-size: 1.125rem;

    p {
      &:last-child {
        margin-bottom: 30px;
      }
    }
  }

  @include media("<=992px") {
    margin-top: 1.5rem;
    padding: 0 20px;

    &__toggle {
      margin: 0 -20px;
      padding: 20px 20px 20px 70px;

      &-icon {
        left: 15px;
        width: 2rem;
        height: 2rem;
      }

      &-arrow {
        right: 15px;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &__content {
      font-size: 1.125rem;
  
      p {
        &:last-child {
          margin-bottom: 20px;
        }
      }
    }
  }
}