.cover {
  position: relative;
  padding-top: 80px;
  padding-bottom: 150px;
  height: auto;

  &:only-child {
    margin-bottom: -115px;

    @include media("<=992px") {
      margin-bottom: -80px;
    }
  
    @include media("<768px") {
      margin-bottom: -40px;
    }
  }

  &__bg {
    position: absolute;
    top: -100%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: skew(0,-3deg)
  }

  &--filled {
    padding-bottom: 80px;
    flex-grow: 1;
  }

  &.is-style-primary {
    color: #fff;

    .cover__bg {
      background-color: $primary-dark;
    }

    h1 {
      color: inherit;
    }
  }

  &.is-style-secondary {
    color: #fff;
    padding-bottom: 60px;
    background-image: linear-gradient(0deg, rgba(17, 51, 129, 0.7), rgba(17, 51, 129, 0.7));
    text-align: center;

    .cover__bg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      background-image: url('../img/reviews/cover@1x.jpg');
      background-color: $primary-dark;
      background-size: cover;
      background-position: center 100%;
      transform: none;

      @include media("retina2x") {
        background-image: url('../img/reviews/cover@2x.jpg')
      }
    }

    h1 {
      color: inherit;
    }

    @include media("retina2x") {
      background-image: linear-gradient(0deg, rgba(17, 51, 129, 0.7), rgba(17, 51, 129, 0.7)), url('../img/reviews/cover@2x.jpg');
    }
  }

  &.bg-primary-dark {
    color: #fff;

    h1 {
      color: inherit;
    }
  }

  &__image {
    position: relative;
    bottom: 20px;
    right: 20px;
    width: 100%;
    height: 100%;
    font-family: 'object-fit: cover';
    object-fit: cover;

    &-wrap {
      position: relative;
      margin-top: 20px;
      padding: 0 50px;
      background-color: #18367B;
      background-clip: content-box;

      &:before,
      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        display: block;
        width: 66px;
        height: 139px;
        background-image: url('../img/icons.svg#dots');
        background-size: 100%;
        background-repeat: no-repeat;
      }

      &:before {
        right: -30px;
        top: -20px;
      }

      &:after {
        left: -60px;
        bottom: 0;
      }
    }
  }

  &__form {
    &-wrap {
      padding-left: 50px;
    }
  }

  h1 {
    text-transform: uppercase;
  }

  p {
    margin-bottom: 1.75em;
  }

  @include media("<=992px") {
    padding-bottom: 90px;

    &__form {
      &-wrap {
        padding-left: 15px;
      }
    }
  }

  @include media("<768px") {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}