.cover {
  position: relative;
  padding-top: 86px;
  min-height: 700px;
  height: auto;
  color: $text-white;

  &__bg {
    position: absolute;
    top: -100%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: $primary-dark;
    transform: skew(0,-3deg)
  }

  &__title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 2.5em;
    line-height: 1.325;
    font-weight: 700;
    white-space: pre-line;
  }

  &__desc {
    width: 100%;
    margin-top: 0;
    margin-bottom: 1.5em;
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: 500;
    white-space: pre-line;
  }

  &__image {
    position: relative;
    bottom: 20px;
    right: 20px;
    width: 100%;
    height: 100%;
    font-family: 'object-fit: cover';
    object-fit: cover;

    &-wrap {
      position: relative;
      margin-top: 20px;
      padding: 0 50px;
      background-color: #18367B;
      background-clip: content-box;

      &:before,
      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        display: block;
        width: 66px;
        height: 139px;
        background-image: url('/img/icons.svg#dots');
        background-size: 100%;
        background-repeat: no-repeat;
      }

      &:before {
        right: -30px;
        top: -20px;
      }

      &:after {
        left: -60px;
        bottom: 0;
      }
    }
  }

  &__btn {
    margin-top: 0.75em
  }

  h1 {
    color: #fff;
  }

  p {
    margin-bottom: 1.75em;
  }

  @include media("<=992px") {
    min-height: 600px;
  }
}