.footer {
  height: 6.25em;
  color: $text-white;
  background-color: $bg-footer;

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__up {
    margin-left: auto;
    margin-right: 5em;
    border: 0;
    font-size: 1.625em;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }

  @include media("<1024px") {
    &__up {
      margin-right: auto;
    }
  }

  @include media("<768px") {
    height: auto;
    padding: 1.5em 0;

    &__container {
      flex-wrap: wrap;
      align-content: center;
    }

    &__up {
      margin-right: 0;
    }
  }

  @media print {
    display: none;
  }
}

.footer-nav {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 -10px 0 0;
  padding: 0;
  list-style: none;

  &__item {
    margin-left: 1.25em;
  }

  &__link {
    display: inline-block;
    padding: 10px;
    color: inherit;
    border: 0;

    &--active {
      opacity: 0.75;
      cursor: default;
    }

    @extend .link;
  }

  @include media("<768px") {
    flex: 1 0 100%;
    flex-wrap: wrap;
    margin-top: 2.5em;
    margin-left: -10px;

    &__item {
      margin-left: 0;
      flex: 1 0 auto;
    }
  }

  @include media("<=425px") {
    &__item {
      flex: 1 1 50%;
    }
  }
}