.iconic-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 2em;
  margin-bottom: 3.25em;
  flex: 0 0 25%;
  font-size: 1rem;

  &__icon {
    font-size: 2.6em;
  }

  &__label {
    margin-top: 1em;
    font-size: 1.125em;
    line-height: 1.44;
    text-align: center;
    white-space: pre-line;
    text-transform: capitalize;
  }

  &__button {
    margin-top: 1em;
  }

  &-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: -3.25em;
  }

  @include media("<1024px") {
    padding: 0 2em;
    flex: 0 0 33%;
  }

  @include media("<768px") {
    padding: 0 1.5em;
    margin-bottom: 2.5em;
    flex: 0 0 50%;
  }

  @include media("<=425px") {
    padding: 0 1em;
    flex: 0 0 100%;

    &-group {
      justify-content: center;
    }
  }
}