.subscription {
  background-color: $primary;
  padding: 40px;
  border-radius: 8px;
  color: $white;
  max-width: 600px;
  margin: 70px auto 0;
  
  &__inner {
    margin: 0 auto;
    max-width: 350px;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    text-align: center;
  }

  &__desc {
    margin-bottom: 2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }

  .form-group {
    label:empty {
      display: none;
    }
  }

  .form-control {
    color: white;
    border-color: #8FAFF8;
    background-color: #598BFC;
    height: 50px;
    line-height: 30px;

    &::placeholder {
      color: #fff;
      opacity: 1;
    }
    
    &:-ms-input-placeholder {
      color: #fff;
    }
    
    &::-ms-input-placeholder {
      color: #fff;
    }
  }

  .form-group {
    position: relative;
  }

  .ajax-loader {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
  }

  .wpcf7-response-output {
    display: none !important;
  }

  .alert {
    display: none;

    &.visible {
      display: block;
    }
  }

  @include media("<=768px") {
    max-width: none;
    margin: 30px -15px 0;
    padding: 20px 15px;
    border-radius: 0;

    &__title {
      font-size: 1.125rem;
    }

    &__desc {
      margin-bottom: 0.5rem;
    }
  }
}