{% macro calltoaction(heading, hasCaption) %}
  <div class="call-to-action container">
    <strong class="call-to-action__heading">{{ heading }}</strong>
    <a href="#quoteModal" rel="modal:open" class="button button--primary button--uppercase button--lg">
      GET A FREE QUOTE
      <i class="icon icon--right"></i>
    </a>

    {% if hasCaption %}
      <p class="call-to-action__caption">
        Prefer to speak with a Provide consultant?
        <a class="call-to-action__link" href="tel:+6581008228">Call at +65 8100 8228</a> 
      </p>
    {% endif %}
  </div>  
{% endmacro %}