{% macro contactCard(isLast, margin) %}
  <section class="section {% if isLast %}section--last{% endif %} {% if margin %}section--margin-{{ margin }}{% endif %}">
    <div class="container">
      <h2 class="section__title">Contact your personal Advisor</h2>

      <div class="section__content contact-card">
        <div class="contact-card__body">
          <div class="contact-card__content">
            <h3 class="contact-card__title">Highly skilled advisor
                                            dedicated to know your needs</h3>

            <div class="contact-card__contacts">
              <span class="contact-card__contacts-label">Free advice:</span>

              <a href="tel:+6581008228" class="contact-card__contacts-item contact-link" title="Call +(86 24) 2322 39 27">
                <i class="icon icon--phone"></i>
                <span class="topbar__link-label">+65 8100 8228</span>
              </a>

              <a href="mailto:insur-asia@gmail.com" class="contact-card__contacts-item contact-link" title="Call +(86 24) 2322 39 27">
                <i class="icon icon--envelope"></i>
                <span class="topbar__link-label">enquiry@insur-asia.com</span>
              </a>

              <button class="contact-card__contacts-item button button--white button--outline button--uppercase button--lg">
                <span>Go to chat</span>
                <i class="icon icon--right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endmacro %}
