<footer class="footer">
  <div class="container footer__container">
    <div class="row align-items-center justify-content-between">
      <div class="footer__copyright text-lg-left text-xl-left text-center col-12 col-lg-auto order-2 order-lg-1 mt-5 mt-lg-0">
        <span class="d-block d-lg-inline">COPYRIGHT © 2018 PROOF OF REVIEW.</span> <span class="d-block d-lg-inline">ALL RIGHTS RESERVED.</span>
      </div>

      <ul class="socials d-flex align-items-center justify-content-center col-12 col-lg-auto order-1">
        <li class="socials__item">
          <a href="#" class="socials__link" target="_blank">
            <svg class="socials__icon">
              <use xlink:href="img/icons.svg#medium"></use>
            </svg>
          </a>
        </li>

        <li class="socials__item">
          <a href="#" class="socials__link" target="_blank">
            <svg class="socials__icon">
              <use xlink:href="img/icons.svg#email"></use>
            </svg>
          </a>
        </li>

        <li class="socials__item">
          <a href="#" class="socials__link" target="_blank">
            <svg class="socials__icon">
              <use xlink:href="img/icons.svg#linkedin"></use>
            </svg>
          </a>
        </li>

        <li class="socials__item">
          <a href="#" class="socials__link" target="_blank">
            <svg class="socials__icon">
              <use xlink:href="img/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>

        <li class="socials__item">
          <a href="#" class="socials__link" target="_blank">
            <svg class="socials__icon socials__icon--discord">
              <use xlink:href="img/icons.svg#discord-filled"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>