<footer class="footer">
  <nav class="footer__container container">
    {{ logo('footer__logo') }}

    <a href="#top" class="footer__up" title="To Top">
      <i class="icon icon--up"></i>
    </a>

    <ul class="footer-nav">
      {# <li class="footer-nav__item">
        <a {% if currentPath != '/blog' %}href="/blog"{% endif %} class="footer-nav__link {% if currentPath == '/blog' %}footer-nav__link--active{% endif %}">Blog</a>
      </li> #}
      <li class="footer-nav__item">
        <a {% if currentPath != '/about' %}href="/about"{% endif %} class="footer-nav__link {% if currentPath == '/about' %}footer-nav__link--active{% endif %}">About us</a>
      </li>
      <li class="footer-nav__item">
        <a {% if currentPath != '/contacts' %}href="/contacts"{% endif %} class="footer-nav__link {% if currentPath == '/contacts' %}footer-nav__link--active{% endif %}">Contact us</a>
      </li>
      {# <li class="footer-nav__item">
        <a {% if currentPath != '/work' %}href="/work"{% endif %} class="footer-nav__link {% if currentPath == '/work' %}footer-nav__link--active{% endif %}">Work with us</a>
      </li> #}
    </ul>
  </nav>
</footer>