{% macro field(label, type="text", name, placeholder, isRequired=false, isDisabled=false) %}
  <div class="form-group">
    <label for="{{ name }}">{{ label }}</label>
    <input type="{{ type }}" class="form-control" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}">
  </div>
{% endmacro %}

{% macro textarea(label, name, placeholder, isRequired=false, isDisabled=false) %}
  <div class="form-group">
    <label for="{{ name }}">{{ label }}</label>
    <textarea class="form-control" id="{{ name }}" rows="6"></textarea>
  </div>
{% endmacro %}