{% macro field(label, type="text", name, placeholder, icon, isRequired=false, isDisabled=false, size="md", align="left") %}
  <label class="control control--{{size}} {% if icon %}control--has-icon{% endif %} control--align-{{ align }}">
    {% if label %}
      <span class="control__label">{{ label }}</span>
    {% endif %}

    <span class="control__wrapper">
      {% if icon %}
        <span class="control__icon">
          <i class="icon icon--{{ icon }}"></i>
        </span>
      {% endif %}
      <input class="control__input" type="{{ type }}" name="{{ name }}" placeholder="{{ placeholder }}" {% if isRequired %}required="{{ isRequired }}"{% endif %} {% if isDisabled %}disabled="{{ isDisabled }}"{% endif %}>
    </span>
  </label>
{% endmacro %}

{% macro checkbox(label, name, isChecked, isRequired=false, isDisabled=false) %}
  <label class="checkbox">
    <input class="checkbox__input" type="checkbox" name="{{ name }}" {% if isChecked %}checked="{{ isChecked }}"{% endif %} {% if isRequired %}required="{{ isRequired }}"{% endif %} {% if isDisabled %}disabled="{{ isDisabled }}"{% endif %}>
    <span class="checkbox__field"></span>
    {% if label %}
      <span class="checkbox__label">{{ label }}</span>
    {% endif %}
  </label>
{% endmacro %}

{% macro select(label, name, options, icon, isMulti=false, isRequired=false, isDisabled=false, size="md", default) %}
  <label class="control control--{{size}} control--select {% if isMulti %}control--select-multiple{% endif %}">
    {% if label %}
      <span class="control__label">{{ label }}</span>
    {% endif %}

    <span class="control__wrapper">
      {% if icon %}
        <span class="control__icon">
          <i class="icon icon--{{ icon }}"></i>
        </span>
      {% endif %}
      {# {% if isMulti %} #}
        <span class="control__input" data-value-container></span>
      {# {% endif %} #}
      <select
        class="control__select"
        type="select"
        name="{{ name }}"
        size="{{ options.length }}"
        {% if isRequired %}required="{{ isRequired }}"{% endif %}
        {% if isDisabled %}disabled="{{ isDisabled }}"{% endif %}
        {% if isMulti %}multiple="{{ isMulti }}"{% endif %}
      >
        {% for option in options %}
          <option value="{{ option.value }}">{{ option.label }}</option>
        {% endfor %}
      </select>
      <span class="control__arrow"></span>
    </span>
  </label>
{% endmacro %}

{% macro textarea(label, name, placeholder, isRequired=false, isDisabled=false) %}
  <label class="control control--textarea">
    {% if label %}
      <span class="control__label">{{ label }}</span>
    {% endif %}

    <span class="control__wrapper">
      <textarea class="control__input" name="{{ name }}" placeholder="{{ placeholder }}" {% if isRequired %}required="{{ isRequired }}"{% endif %} {% if isDisabled %}disabled="{{ isDisabled }}"{% endif %} rows="10" cols="5" value=""></textarea>
    </span>
  </label>
{% endmacro %}

{% macro numeric(label, name, placeholder, isRequired, isDisabled, size="md", min, max, step, caption, units) %}
  <label class="control control--numeric control--{{size}}" data-numeric>
    {% if label %}
      <span class="control__label">{{ label }}</span>
    {% endif %}

    <span class="control__wrapper">
      <input
        class="control__input"
        type="number"
        name="{{ name }}"
        placeholder="{{ placeholder }}"
        {% if isRequired %}required="{{ isRequired }}"{% endif %}
        {% if isDisabled %}disabled="{{ isDisabled }}"{% endif %}
        {% if min %}min="{{ min }}"{% endif %}
        {% if max %}max="{{ max }}"{% endif %}
        {% if step %}step="{{ step }}"{% endif %}
      >

      <button type="button" class="control__btn control__btn--subtract" data-subtract></button>
      <button type="button" class="control__btn control__btn--add" data-add></button>
      <button type="button" class="control__btn control__btn--clear" data-clear></button>
    </span>

    <span class="control__footer">
      {% if units %}
        <span class="control__caption">{{ units }}</span>
      {% endif %}

      {% if caption %}
        <span class="control__caption">{{ caption }}</span>
      {% endif %}
    </span>
  </label>
{% endmacro %}