<header class="header">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white align-items-stretch">
    <div class="container d-flex justify-content-between align-items-stretch">
      <a class="navbar-brand" href="#">
        {{ picture('Proof of Review', 'logo', '/img/logo/logo', 'png') }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <button class="navbar-toggler navbar-toggler--close d-lg-none d-xl-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <svg class="navbar-toggler-icon--close">
            <use xlink:href="img/icons.svg#plus"></use>
          </svg>
        </button>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Vote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>