{% extends "layouts/_base.html" %}

{% from "components/_forms.html" import field, textarea %}

{% set title = "Proof of Review / Contact Us" %}
{% set currentPath = "/contacts" %}

{% block content %}
  <section class="cover cover--filled bg-primary-dark">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 offset-md-3 offset-lg-0 order-2">
            <h1 class="d-none d-lg-block">PROOF OF REVIEW<br> CONTACT US</h1>
            
            <div class="wp-block-cgb-block-at-icon-block icon-block is-style-contacts mt-5 mt-lg-0">
              <div class="icon-block__inner">
                <div class="icon-block__icon">
                  {{ icon('mail') }}
                </div>
                <p class="icon-block__title">Email Us on:</p>
                <p class="icon-block__desc">
                  <a href="mailto:contact@proofofreview.com">contact@proofofreview.com</a>
                </p>
              </div>
            </div>

            <div class="wp-block-cgb-block-at-icon-block icon-block is-style-contacts">
              <div class="icon-block__inner">
                <div class="icon-block__icon">
                  {{ icon('send') }}
                </div>
                <p class="icon-block__title">Chat with Us:</p>
                <p class="icon-block__desc">
                  Click the Intercom icon on the bottom right
                </p>
              </div>
            </div>

            <div class="wp-block-cgb-block-at-icon-block icon-block is-style-contacts">
              <div class="icon-block__inner">
                <div class="icon-block__icon">
                  {{ icon('discord') }}
                </div>
                <p class="icon-block__title">Join our Discord:</p>
                <p class="icon-block__desc">
                  <a href="https://discord.gg/K8faBzV" target="_blank">https://discord.gg/K8faBzV</a>
                </p>
              </div>
            </div>

            <div class="wp-block-cgb-block-at-icon-block icon-block is-style-contacts">
              <div class="icon-block__inner">
                <p class="icon-block__title">Visit Us:</p>
                <p class="icon-block__desc">
                  <a href="https://goo.gl/maps/KTB271JiWLkYJzeV8" target="_blank">Floor 35, Citypoint, 1 Ropemaker St,<br> London EC2Y 9ST</a>
                </p>
              </div>
            </div>
        </div>

        <div class="col-12 col-md-10 offset-md-1 offset-lg-0 col-lg-6 cover__form-wrap order-1 order-lg-2">
          <h1 class="d-block d-lg-none text-center mb-4">PROOF OF REVIEW<br> CONTACT US</h1>

          <div class="contact-form">
            <div class="contact-form__inner">
              <h5 class="contact-form__title mt-0 text-left text-uppercase">Get in touch today.
                                                            We are only an email or call away.</h5>

              <form action="/" method="POST">
                {{ field('Name', type="text", 'name', isRequired=true) }}

                {{ field('Number', type="tel", 'number', isRequired=true) }}

                {{ field('Email', type="email", 'email', isRequired=true) }}

                {{ textarea('Message','message', isRequired=true) }}

                <div class="form-group">
                  <button class="btn is-style-btn-primary-dark btn-block" type="submit">SEND</button>
                </div>

                <div class="form-group">
                  <p class="text-sm">
                    You agree by submitting this form,
                    we will be processing your data in accordance to our privacy policy.
                    Thank you.
                  </p>
                </div>

                <div class="form-group mb-0">
                  <div class="alert alert-success" role="alert">
                    Application successfully submitted
                  </div>

                  {# <div class="alert alert-danger" role="alert">
                    Application successfully submitted
                  </div> #}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}