{% extends "layouts/_base.html" %}

{% from "components/_forms.html" import field, textarea %}

{% set title = "Proof of Review / Contact Us" %}
{% set currentPath = "/contacts" %}

{% block content %}
  <section class="cover cover--filled bg-primary-dark">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 offset-md-3 offset-lg-0 order-2">
            <h1 class="d-none d-lg-block">PROOF OF REVIEW<br> CONTACT US</h1>

            <div class="contacts-cover-info">

              <div class="contacts-cover-info__item">
                {{ icon('mail', 'contacts-cover-info__icon') }}
                <span class="contacts-cover-info__label">Email Us on:</span>
                <a href="mailto:contact@proofofreview.com" class="contacts-cover-info__link">contact@proofofreview.com</a>
              </div>

              <div class="contacts-cover-info__item">
                {{ icon('send', 'contacts-cover-info__icon') }}
                <span class="contacts-cover-info__label">Chat with Us:</span>
                <span class="contacts-cover-info__link">Click the Intercom icon on the bottom right</span>
              </div>

              <div class="contacts-cover-info__item">
                {{ icon('discord', 'contacts-cover-info__icon') }}
                <span class="contacts-cover-info__label">Join our Discord:</span>
                <a href="https://discord.gg/K8faBzV" class="contacts-cover-info__link">https://discord.gg/K8faBzV</a>
              </div>

              <div class="contacts-cover-info__item">
                <span class="contacts-cover-info__label">Visit Us:</span>
                <a href="https://goo.gl/maps/KTB271JiWLkYJzeV8" target="_blank" class="contacts-cover-info__link">Floor 35, Citypoint, 1 Ropemaker St,<br> London EC2Y 9ST</a>
              </div>
            </div>
        </div>

        <div class="col-12 col-md-10 offset-md-1 offset-lg-0 col-lg-6 cover__form-wrap order-1 order-lg-2">
          <h1 class="d-block d-lg-none text-center mb-4">PROOF OF REVIEW<br> CONTACT US</h1>

          <div class="contacts-cover-card">
            <div class="contacts-cover-card__body">
              <h5 class="contacts-cover-card__title mt-0 text-left text-uppercase">Get in touch today.
                                                            We are only an email or call away.</h5>

              <form class="login__form form" action="/" method="POST">
                <div class="form__group">
                  {{ field('Name', type="text", 'name', isRequired=true) }}
                </div>

                <div class="form__group">
                  {{ field('Number', type="tel", 'number', isRequired=true) }}
                </div>

                <div class="form__group">
                  {{ field('Email', type="email", 'email', isRequired=true) }}
                </div>

                <div class="form__group">
                  {{ textarea('Message','message', isRequired=true) }}
                </div>

                <div class="form__group">
                  <button class="btn btn-primary-dark btn-block" type="submit">SEND</button>
                </div>

                <div class="form__group">
                  <small class="form__caption">
                    You agree by submitting this form,
                    we will be processing your data in accordance to our privacy policy.
                    Thank you.
                  </small>
                </div>

                <div class="form__group">
                  <div class="alert alert-success" role="alert">
                    Application successfully submitted
                  </div>

                  {# <div class="alert alert-danger" role="alert">
                    Application successfully submitted
                  </div> #}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}