{% extends "layouts/_base.html" %}

{% set title = "Proof of Review / Reviews" %}
{% set currentPath = '/reviews' %}

{% block content %}
  {# Cover #}
  <section class="container-fluid cover is-style-secondary">
    <div class="cover__bg"></div>

    <div class="container text-center">
      <h1 class="text-uppercase mt-lg-5">
        REVIEWS
      </h1>

      <p>
        Our reviews provide an institutional grade analysis of projects across the sector including<br>
        coins, exchange, mining pools and Initial Exchange Offerings and Security Token Offerings.
      </p>

      <p>
        A full list of our reviews is available below.
      </p>
    </div>
  </section>

  <section class="container-fluid reviews-tabs__nav">
    <div class="container mt-5">
      <div class="row">
        <ul class="col-12 nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="coin-tab" data-toggle="tab" href="#coin" role="tab" aria-controls="coin" aria-selected="true">
              COIN REVIEWS

              <button class="reviews-tabs__help" data-toggle="tooltip" data-placement="top" title="We review projects across the sector including POW and Tokens.">
                {{ icon('question-circle', 'reviews-tabs__icon') }}
              </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="exchanges-tab" data-toggle="tab" href="#exchanges" role="tab" aria-controls="exchanges" aria-selected="false">
              EXCHANGES

              <button class="reviews-tabs__help" data-toggle="tooltip" data-placement="top" title="We review exchanges across the sector.">
                {{ icon('question-circle', 'reviews-tabs__icon') }}
              </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="mining-tab" data-toggle="tab" href="#mining" role="tab" aria-controls="mining" aria-selected="false">
              MINING POOLS

              <button class="reviews-tabs__help" data-toggle="tooltip" data-placement="top" title="We review mining pools across the sector.">
                {{ icon('question-circle', 'reviews-tabs__icon') }}
              </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="sto-tab" data-toggle="tab" href="#sto" role="tab" aria-controls="sto" aria-selected="false">
              STO

              <button class="reviews-tabs__help" data-toggle="tooltip" data-placement="top" title="We review the latest STO projects.">
                {{ icon('question-circle', 'reviews-tabs__icon') }}
              </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="ieo-tab" data-toggle="tab" href="#ieo" role="tab" aria-controls="ieo" aria-selected="false">
              IEO

              <button class="reviews-tabs__help" data-toggle="tooltip" data-placement="top" title="We review the latest IEO projects.">
                {{ icon('question-circle', 'reviews-tabs__icon') }}
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="reviews-tabs__content mt-4">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="coin" role="tabpanel" aria-labelledby="coin-tab">
        <div class="table-responsive-md">
          <div class="reviews-table text-uppercase text-center">
            <div class="reviews-table__tr">
              <div class="reviews-table__container container">
                <div class="reviews-table__th">Coin</div>
                <div class="reviews-table__th">Team Verified</div>
                <div class="reviews-table__th">Review Date</div>
                <div class="reviews-table__th">View</div>
              </div>
            </div>
            <div class="reviews-table__tr">
              <div class="reviews-table__container container">
                <div class="reviews-table__td">Zero</div>
                <div class="reviews-table__td">yes</div>
                <div class="reviews-table__td">October 2018</div>
                <div class="reviews-table__td">
                  <a href="#">Review</a>
                </div>
              </div>
            </div>
            <div class="reviews-table__tr">
              <div class="reviews-table__container container">
                <div class="reviews-table__td">Zero</div>
                <div class="reviews-table__td">yes</div>
                <div class="reviews-table__td">October 2018</div>
                <div class="reviews-table__td">
                  <a href="#">Review</a>
                </div>
              </div>
            </div>
            <div class="reviews-table__tr">
              <div class="reviews-table__container container">
                <div class="reviews-table__td">Zero</div>
                <div class="reviews-table__td">yes</div>
                <div class="reviews-table__td">October 2018</div>
                <div class="reviews-table__td">
                  <a href="#">Review</a>
                </div>
              </div>
            </div>
            <div class="reviews-table__tr">
              <div class="reviews-table__container container">
                <div class="reviews-table__td">Zero</div>
                <div class="reviews-table__td">yes</div>
                <div class="reviews-table__td">October 2018</div>
                <div class="reviews-table__td">
                  <a href="#">Review</a>
                </div>
              </div>
            </div>
            <div class="reviews-table__tr">
              <div class="reviews-table__container container">
                <div class="reviews-table__td">Zero</div>
                <div class="reviews-table__td">yes</div>
                <div class="reviews-table__td">October 2018</div>
                <div class="reviews-table__td">
                  <a href="#">Review</a>
                </div>
              </div>
            </div>
            <div class="reviews-table__tr">
              <div class="reviews-table__container container">
                <div class="reviews-table__td">Zero</div>
                <div class="reviews-table__td">yes</div>
                <div class="reviews-table__td">October 2018</div>
                <div class="reviews-table__td">
                  <a href="#">Review</a>
                </div>
              </div>
            </div>
            <div class="reviews-table__tr">
              <div class="reviews-table__container container">
                <div class="reviews-table__td">Zero</div>
                <div class="reviews-table__td">yes</div>
                <div class="reviews-table__td">October 2018</div>
                <div class="reviews-table__td">
                  <a href="#">Review</a>
                </div>
              </div>
            </div>
            <div class="reviews-table__tr">
              <div class="reviews-table__container container">
                <div class="reviews-table__td">Zero</div>
                <div class="reviews-table__td">yes</div>
                <div class="reviews-table__td">October 2018</div>
                <div class="reviews-table__td">
                  <a href="#">Review</a>
                </div>
              </div>
            </div>
            <div class="reviews-table__tr">
              <div class="reviews-table__container container">
                <div class="reviews-table__td">Zero</div>
                <div class="reviews-table__td">yes</div>
                <div class="reviews-table__td">October 2018</div>
                <div class="reviews-table__td">
                  <a href="#">Review</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="exchanges" role="tabpanel" aria-labelledby="exchanges-tab">...</div>
      <div class="tab-pane fade" id="mining" role="tabpanel" aria-labelledby="mining-tab">...</div>
      <div class="tab-pane fade" id="sto" role="tabpanel" aria-labelledby="sto-tab">...</div>
      <div class="tab-pane fade" id="ieo" role="tabpanel" aria-labelledby="ieo-tab">...</div>
    </div>
  </section>

  <section class="container">
    {% include "components/_subscription.html" %}
  </section>
{% endblock %}