.button--gray {
  color: $text-dark;
  background: #E6E6EE;

  &:hover,
  &:focus {
    background: #D8D9ED;
  }

  &:disabled {
    background: #D2D5E8;
    color: white;
  }

  &.button--outline {
    color: $text-dark;
    border-color: #E6E6EE;
    background: none;

    &:disabled {
      color: #D2D5E8;
      background: none;
    }
  }
}

a.button--gray:not([href]) {
  background: #D2D5E8;
  color: white;

  &.button--outline {
    color: #D2D5E8;
    background: none;
  }
}