.form {
  margin: 0;
  padding: 0;
  font-size: 1em;

  &__group {
    margin-top: 1.2em;

    &--row {
      display: flex;
      justify-content: space-between;
    }

    &--last {
      margin-top: 2.5em;
    }

    &--with-divider {
      position: relative;
      margin-right: 3.75em;

      &:after {
        content: '';
        position: absolute;
        right: -1.875em;
        bottom: 0;
        display: block;
        width: 1px;
        height: 2.25em;
        background: rgba(91, 91, 116, 0.2);
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__link {
    color: $text-gray;
    border: 0;

    &:hover,
    &:focus {
      color: $color-primary
    }
  }

  &__caption {
    margin: 0;
    font-size: 0.875em;
    color: $text-dark-2;

    & + .button {
      margin-left: 4em;
    }
  }

  &--inline {
    display: flex;
    align-items: flex-end;

    .form__group {
      margin-top: 0;
      margin-left: 1em;
      flex: 1 1 0;
      max-width: 160px;

      &--with-divider + .form__group {
        margin-left: 0;
      }

      @include media("<1024px") {
        max-width: none;
      }
    }
  }
}