.contacts-cover-info {
  margin-top: 3em;
  font-size: 1rem;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 2em;

    &:last-child {
      margin-top: 3em;
    }
  }

  &__icon {
    width: 1.5em;
    height: 1.5em;
    fill: #fff;
  }

  &__label {
    margin-top: 0.5em;
    font-size: 1.125em;
    line-height: 1.66;
    color: rgba(#fff, .85);
  }

  &__link {
    color: #fff;
    font-size: 1.125em;
    line-height: 1.66;
    
    &:hover,
    &:focus {
      color: #fff;
      text-decoration: underline;
    }
  }

  @include media("<=992px") {
    &__icon {
      position: absolute;
      top: 0.7em;
      left: 0;
    }

    &__item {
      padding-left: 3em;
    }
  }
}